.joke-card {
    max-width: 800px;
    width: 100%;
    border-radius: 3px;
    margin: auto;
    background-color: #eeedeb;
    margin-bottom: 5px;
    padding: 15px;
}

.btn-answer {
    background-color: #efd448;
    color: #000;
    margin-right: 9px;

    &:hover {
        background-color: #d0b73c;
    }
}

.btn-remove {
    background-color: #bc273c;

    &:hover {
        background-color: #790b19;
    }
}

.joke-card__text {
    margin-bottom: 8px;
}